.gf-container{
	padding:20px;
}

.gf-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	min-width: 375px;
	align-items:center;
	justify-content:center;

}

.gf-plant-item {
	position: relative;
	/* border: solid 2px black;
	border-radius: 10px; */
	height: 150px;
	width: 150px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.gf-sales {
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}

.gf-Best-sale{
	position: absolute;
	left:0px;
	top: 10px;
	padding: 5px 10px;
	background-color: #31b572;
}

.gf-scaleType{
	bottom: 10px;
}